@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

/* gobal reset */
*,
*::before,
*::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;  /* 1rem = 10px */
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: "Vollkorn", sans-serif;
    line-height: 1.2;
}

img#shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

img#blod{
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    z-index: -1;

}

a{
    text-decoration: none;
    color:#212832;
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #5E6282;
}

ul {
    list-style: none;
}

img{
    width: 100%;
}

button{
    font-family: "poppins", sans-serif;
    border: none;
    outline: 0;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 5%;
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    
}



.nav {
    display:flex ;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;
   margin-right: 4rem;
}

.nav-list li.nav-item:not(:last-child){
    margin-right: 5.5rem;
  
}


.nav-list-btn {
    display: flex;
}

.nav-list-btn a:not(:last-child){
    margin-right: 1.4rem;
}


.nav-list li a{
    font-size: 1.2rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav-list li a:hover{
    font-size: 1.5rem;
    font-weight: 600;
}

.open-menu{
    display: none;
}

.close-menu{
    display: none;
}

.ruler{
    display: none;
}

/* btn */
.btn{
    padding: 1rem 1.5rem;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.4rem;
    border: none;
}
.btn-borderless {
    border: none;
}

.btn.btn-borderless:hover{
    background-color: #212832;
    color: #ffff;
}
.btn.btn-border:hover{
    background-color: #212832;
    color: #ffff;
}

.btn-border {
    border: solid 1px #212832;
}
.btn-primary{
    background-color: #F1A501;
}
.btn-secondary{
    background-color: #DF6951;
}
.btn-rec{
    color: #f4f4f4;
    border-radius: 1rem;
}
.btn-circle{
    border-radius: 5rem;
    align-items: center;
    color: #f4f4f4;
}


.container {
    max-width: 114rem;
    margin: 0 auto ;
 }

 /* showcase */
 .showcase{
    padding: 6rem;
    margin-top: 70px;

 }
 .showcase-flex{
   display: flex;
   align-items: center;
 }
 .showcase-text{
    position: relative;
 }

 img#decore{
    position: absolute;
    top: 29%;
    left: 40%;
    width: 45%;
    z-index: -1;
 }

 .showcase-text h2{
    color: #df4d30;
    font-weight: 600;
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
    font-family: "Poppins" ,sans-serif;
 }

 .showcase-text h1{
    color: #181E4B;
    font-size: 6.2rem;
    margin-bottom: 2rem;
    width: 80%;
 }

.showcase-text > p{
    font-size: 1.3rem;
    margin-bottom: 2.4rem;
    width: 80%;
    line-height: 2;
}

.showcase-btn-flex{
    display: flex;
    align-items: center;
}
.btn-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}
.btn-flex p{
    margin-left: 1rem;
}



/* offer */
/* .offer{
    padding: 6rem;
}
.offer-text p{
  font-weight:500;
  text-align: center;
  color: #5E6282;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.offer-text h2{
  font-weight: 700;
    text-align: center;
    font-size: 2.9rem;
    color: #14183E;
    margin-bottom: 3rem;
}

.offer-flex{
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
  grid-gap: 3rem;
}

.service1 img{
    height : 60%;
    width: 40%;
    align-items: center;
    justify-content: center;
    align-items: center;

}
.service1 h3{
   align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1.1rem;
    font-family: "Orienta" sans-serif;
}
.service1 p{
    text-align: center;
    width: 80%;
    text-align: center;
    line-height: 1.4;
    font-family: "Orienta" sans-serif;
} */


/* destination */
.destination{
  padding: 6rem;
}

.destination-txt h3{
  text-align: center;
  color: #5E6282;
  font-size: 1.5rem;
  font-weight: 400;
}

.destination-txt h2{
  text-align: center;
  color: #14183E;
  font-size: 3.5rem;
  font-weight: 700;
  margin-top: 1.4rem;
}

.destination-flex{
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 4.5rem;
}

.bg-image{
  min-height: 400px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: saturate(1.2);
  -webkit-filter: saturate(1.2);
}

.flexitem1 .bg-image{
  background-image: url("./image/l-a-l-a-s-z-a-S0hS0HfH_B8-unsplash\ \(1\).jpg");
}
.flexitem2 .bg-image{
  background-image: url("./image/sabrina-mazzeo-g-krQzQo9mI-unsplash.jpg");
}
.flexitem3 .bg-image{
  background-image: url("./image/tom-podmore-QwTyazv-dyk-unsplash.jpg");
  background-position: center bottom;
}

.destination-dest{
  display: grid;
  grid-template-rows: min-content 1fr;
  /*background-color: #212832;
  */overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
}
/* .destination-dest:hover{
  cursor: pointer;
  border-color: 1rem solid #181E4B;
} */
.card{
  padding: 3rem;
}

.card .card-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-flex h4{
  font-size: 1.8rem;
  font-weight: 400;
  color: #5E6282;
}

.card .card-flex p{
  font-size: 1.5rem;
  color: #5E6282;
}

.card .trip{
  display: flex;
  align-items: center;
  margin-top: 2.2rem;
}

.card .trip p{
  margin-left: 1.4rem;
}

.trip i.location{
  font-size: 1.9rem;
  color: #080809;
}

.trip p{
  font-size: 1.2rem;
}


/* booking */
.booking{
  padding: 6rem;
}

.book-flex{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem;
  align-items: center;
}

.easy-txt h4{
  color: #5E6282;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 1.9rem;
}

.easy-txt h2{
  color: #14183E;
  font-family: 700;
  font-size: 3.5rem;
  width: 65%;
 margin-bottom: 3.8rem;
}

.easy-flex{
  display: flex;
  align-items: flex-start;
}

.easy-flex > div:last-child{
  margin-left: 1.8rem;
}

.easy-flex:not(:last-of-type){
  margin-bottom: 3rem;
}

.step h3{
  color: #5E6282;
  font-family: "poppins" sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 0.8rem
}

.step p{
  color: #5E6282;
  font-family: "poppins" sans-serif;
  width: 75%;
  line-height: 1.5;
  font-size: 1.2rem;
}
/* testimonials */
.testimonials{
  padding: 4rem;
}

.test-flex{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem;
  align-items: center;
}

.test-flex .test-txt h4{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  color: #5E6282;
  font-family: "poppins" sans-serif;
}

.test-flex .test-txt  h2{
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #14183E;
  width: 50%;
}

.circles{
  display: flex;
  margin-top: 4rem;
}

.circles > div{
  height: 10px;
  width: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #dbdbdb;
}

.circles > div:not(:last-child){
  margin-right: 14px;
}

.circles > div.dark{
  background-color: #39425d;
}


.comment-flex{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.comment-flex > div img{
  width: 70px;
}

.comment-flex > div:last-child {
  padding: 3rem;
  color: #5E6282;
  border: 1px solid #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.comment-flex > div:last-child p{
  margin-bottom: 2rem;
  line-height: 1.8;
}


/* logos */
.logos{
  padding: 6rem;
}
.logo-flex{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 filter: brightness(1.2);
 -webkit-filter: brightness(1.2);
}
.logo-flex .border{
  width: 15%;
  border: 1px solid #fff;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  padding: 1rem 1rem;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.16);
  
}


/* media query */
@media screen and (max-width:1050px){
    html{
        font-size: 50%; /* 1rem = 8px*/
    }
  }

@media screen and (max-width: 850px) {
   .showcase-text h1{
    width: 100%;
   }
}

@media screen and (max-width:768px){
    header{
        justify-content: space-between;
        padding: 3rem 10%;
    }

    header div.company-logo img{
        width: 100px;
    }

    .nav{
        position: fixed;
        z-index: 100000;
        top: 81px;
        right: -1000%;
        flex-direction: column;
        background-color: rgba(24, 30, 75, 0.85);
        padding: 5rem 2rem;
        width: 35%;
        height: 420px;
        text-align: center;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        backdrop-filter: blur(7px);
        box-shadow: 0 5px 30px rgba(33, 40, 50, 0.34);
        transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
}

.nav-list li {
  opacity: 0;
}

.nav .nav-list-btn a.btn {
  opacity: 0;
}

.nav-list li a.nav-link{
    color:rgb(236, 236, 236);
}

.nav-list{
    flex-direction: column;
    margin-right: 0;
}

.nav-list li.nav-item:not(:last-child){
    margin-right: 0;
    margin-bottom: 4.5rem;
}

.nav-list-btn{
    flex-direction: column;
}

.nav-list-btn a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .nav-list-btn a.btn-borderless {
    color: rgb(236, 236, 236);
  }

  .nav-list-btn a.btn-border {
    color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
  }

  .nav-list-btn a.btn-border:hover,
  .nav-list-btn a.btn-borderless:hover {
    background-color: #fff;
    color: #212832;
  }

  .ruler {
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    margin: 3rem 0;
  }

  .open-menu {
    display: block;
    color: #181e4b;
    font-size: 2.8rem !important;
  }

  .close-menu {
    color: #181e4b;
  }

  .showcase-text h1 {
    font-size: 5rem;
  }
}

nav.nav.show {
  right: 0;
}

.open-menu.notShowMenu {
  display: none;
}

.close-menu.notShowMenu {
  display: block;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@media screen and (max-width: 680px) {
  .showcase {
    padding: 6rem 4rem;
  }
  .showcase-flex {
    flex-direction: column;
  }
  .showcase-text {
    margin-bottom: 4rem;
  }

  .showcase-text > p {
    width: 100%;
  }

  .showcase-img img {
    width: 85%;
    margin: 0 auto;
  }

}

@media screen and (max-width: 600px) {
  nav.nav {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  nav.nav {
    width: 70%;
    height: 400px;
  }

  .showcase-img img {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  nav.nav {
    height: 50%;
  }
}

@media screen and (max-width: 390px) {
  nav.nav {
    height: 64%;
  }
}

@keyframes slideX {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

}

