@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* gobal reset */
*,
*::before,
*::after{
        margin: 0;
        padding: 0;
        box-sizing:inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 1rem = 10px */
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: "Vollkorn", sans-serif;
    line-height: 1.5;
}

img#shadow{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}

img#blod{
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    z-index: -1;

}

a{
    text-decoration: none;
    color:#212832;
    font-family: "Roboto", sans-serif;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #5E6282;
}

ul {
    list-style: none;
}

img{
    width: 100%;
}

button{
    font-family: "poppins", sans-serif;
}

li{
  list-style: none;
}
header{
    padding: 50px 20%;
}

.logo-box { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .logo-box > div {
    flex: 0.3;
} */

.nav {
    display:flex ;
    justify-content: space-between;
    flex: 0.8;
}

.nav-list{
    /* list-style: none; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list li.nav-item:not(:last-child){
    margin-right: 5.5rem;
}

/* .nav-list li{
    display: inline-block;
    padding: 10px 20px;
} */

.nav-list li a{
    transition: all 0.3s ease 0s;
}

/* btn */
.btn{
    padding: 1rem 1.5rem;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-size: 1.4rem;
    border: none;
}
.btn-borderless {
    border: none;
}

.btn-border {
    border: solid 1px #212832;
}
.btn-primary{
    background-color: #F1A501;
}
.btn-secondary{
    background-color: #DF6951;
}
.btn-rec{
    color: #f4f4f4;
    border-radius: 1rem;
}
.btn-circle{
    border-radius: 4rem;
    align-items: center;
    color: #f4f4f4;
}

.nav-list li a:hover{
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-list-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-btn a:not(:last-child){
    margin-right: 1rem;
}

.nav-list a{
    font-size: 1.2;
}
.container {
    width: 114rem;
    margin: 0 auto ;
 }

 /* showcase */
 .showcase{
    padding: 4rem;

 }
 .showcase-flex{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    grid-gap: 6rem;
 }
 .showcase-text{
    line-height: 1.3;
    padding: 7rem;
    position: relative;
 }

 img#decore{
    position: absolute;
    top: 29%;
    left: 40%;
    width: 45%;
    z-index: -1;
 }

 .showcase-text h2{
    color: #df4d30;
    font-weight: bolder;
    margin-bottom: 2rem;
 }
 .showcase-text h1{
    color: #181E4B;
    font-size: 5rem;
    margin-bottom: 2rem;
 }

.showcase-text > p{
    margin-bottom: 2rem;
    width: 80%;
    line-height: 2;
}

.showcase-btn-flex{
    display: flex;
    align-items: center;
}
.btn-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
}
.btn-flex p{
    margin-left: 1rem;
}